<h3>{{description}} expenses</h3>
<table>
  <thead>
    <tr>
      <td>Reference Month</td>
      <td>Payment Date</td>
      <td>Due Date</td>
      <td>Amount</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{expense.reference_month.toString().padStart(2,'0')}}/{{expense.reference_year}}</td>
      <td>{{expense.payment_date | date:'dd/MM/y'}}</td>
      <td>{{expense.due_date | date:'dd/MM/y'}}</td>
      <td><a routerLink='/detail/{{expense.id}}'>{{expense.amount | currency}}</a></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="goBack()">Back</button>