<table>
  <thead>
    <tr>
      <td>Description</td>
      <td>Reference Month</td>
      <td>Due Date</td>
      <td>Payment Date</td>
      <td>Amount</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{expense.description}}</td>
      <td>{{expense.reference_month}}/{{expense.reference_year}}</td>
      <td>{{expense.due_date | date:'dd/MM/y'}}</td>
      <td>{{expense.payment_date | date:'dd/MM/y'}}</td>
      <td>{{expense.amount | currency}}</td>
    </tr>
  </tbody>
</table>
