<h3>Expense details</h3>
<table>
  <thead>
    <tr>
      <td>Description</td>
      <td>Reference Month</td>
      <td>Payment Date</td>
      <td>Due Date</td>
      <td>Amount</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a routerLink='/expenses/{{expense.description}}'>{{expense.description}}</a></td>
      <td>{{expense.reference_month.toString().padStart(2,'0')}}/{{expense.reference_year}}</td>
      <td>{{expense.payment_date | date:'dd/MM/y'}}</td>
      <td>{{expense.due_date | date:'dd/MM/y'}}</td>
      <td>{{expense.amount | currency}}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-danger" (click)="deleteExpense()">Delete</button>
<button class="btn btn-warning" routerLink='/register/{{expense.id}}'>Edit</button>
<button class="btn btn-primary" (click)="goBack()">Back</button>